/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* buttons */
.btn {
    padding: 10px 15px;
    border-radius: 2em;
    font-weight: 600;
    border: 1px solid black;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

.main-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.main-container::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

/* header */
header {
    height: 75px;
    background-color: #404eed;
    line-height: 75px;
}

#logo,
#accedi,
header nav {
    float: left;
}

#logo,
#accedi {
    width: 25%;
    height: 100%;
}

#logo {
    text-align: left;
}

#logo img {
    vertical-align: middle;
}

nav {
    width: 50%;
    height: 100%;
    text-align: center;
}

#accedi {
    text-align: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
}


/* jumbotron */
body section.background {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
    background-position: center;
}

.jumbo-text {
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-text h1 {
    font-size: 50px;
    font-weight: 600;
}

.jumbo-text p {
    font-size: 18px;
    margin: 30px 0;
    line-height: 1.6;
}

#scarica,
#browser {
    margin: 0 10px;
}


/* main */
.section-container {
    content: "";
    display: table;
    clear: both;
    margin: 50px 0 200px;
}

section .image,
section .text {
    float: left;
}

section .image {
    width: 50%;
    margin:0 75px;
}

section .text {
    width: 25%;
    padding-top: 20px;
}

.text h2 {
    font-size: 40px;
    color: black;
}

.text p {
    font-size: 18px;
    color: black;
    line-height: 1.4;
    margin-top: 10px;
}

#image {
    width: 500px;
}

main section:nth-child(2) {
    padding-left: 150px;
}
/* footer */

/* debug */
/* .debug header {
    background-color: #404eed;
} */

/* .debug #logo,
.debug #accedi {
    background-color: lightgreen;
}

.debug nav {
    background-color: magenta;
} */


/* .debug .main-container {
    border: 1px solid black;
} */

/* .debug header {
    background-color: yellow;
} */

/* .debug section {
    background-color: yellowgreen;
} */

/* .debug main {
    height: 1000px;
    background-color: chocolate;
} */


.debug footer {
    height: 600px;
    background-color: darkmagenta;
}